*{
    background-image: url("../images/fondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}


iframe{
    width: 500px;
    height: 350px;
    margin-inline-start: 260px;
}
table{
    margin-inline-start: 10%;
    border-style: groove;
    border-color: black;
 /*style="width: 100%"*/
    width: 800px;
}
tr{
    border-style: groove;
    border-color: black; 
}
th{
    border-style: inherit;
    border-color: black;
}
td{
    border-style: solid;
    border-color: black;
}
footer{
    clear: both;
}
.logo{
    width: 500px;
    height: 350px;
    margin-inline-start: 30%;
}
#cab_carac{
    background-color: rgb(181, 131, 190);

}
section{
    background-image: none !important;
}
article {
    background-image: none !important;
}
p{
    background-image: none !important;
}
h1{
    background-image: none !important;
}
aside{
    background-image: none !important;
}
nav{
    background-image: none;
}
li{
    background-image: none;

}
ul{
    background-image: none;

}
a{
    background-image: none;

}



#menu{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: cornsilk;
}

#menu ul li {
   margin-bottom:  5px;
    color: red;
}

.titulos h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 25px;
    margin-bottom: 0px;
    text-align: center;
    rotate: left;
}

.titulos h2{
    text-decoration: underline;
    animation-fill-mode: both;
    text-decoration-style: double;
    text-anchor: middle;
    color: slategrey;

}

.titulos h3{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size-adjust: initial;
    text-underline-position: auto;
    color: lightsteelblue;
}