/**{

    border-top-style: groove;
    border-bottom-style: groove;
    border-left-style: groove;
    border-right-style: groove;
}*/


.menu{
    border-top-style: groove;
    border-bottom-style: groove;
    border-left-style: groove;
    border-right-style: groove;
    width: 15%;

}
.c1{
    border-top-style: groove;
    border-bottom-style: groove;
    border-left-style: groove;
    border-right-style: groove;
    width: 65%;
    float: left;
}

.c2{
    border-top-style: groove;
    border-bottom-style: groove;
    border-left-style: groove;
    border-right-style: groove;
    width: 30%;
    float: left;
}
